.App {
  text-align: center;
}

.machines {
  width: 850px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px , 1fr));
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
@media (max-width: 1200px) {
  .machines {
    width: 700px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 992px) {
  .machines {
    width: 500px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

@media (max-width: 768px) {
  .machines {
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
